@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --color-primary: #F9F7F7;
    --color-secondary: #DBE2EF;
    --color-tertiary: #3F72AF;
    --color-complementary: #112D4E;
    --hightlight: #222831;
    --divider: rgb(164, 164, 164);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #222831;
        --color-secondary: #393E46;
        --color-tertiary: #00ADB5;
        --color-complementary: #eeeeee96;
        --hightlight: #FFFAAA;
        --divider: rgb(164, 164, 164);
    }

    body.light {
        --color-primary: #F9F7F7;
        --color-secondary: #DBE2EF;
        --color-tertiary: #3F72AF;
        --color-complementary: #112D4E;
        --hightlight: #222831;
        --divider: rgb(164, 164, 164);
    }
}

body.dark {
    --color-primary: #222831;
    --color-secondary: #393E46;
    --color-tertiary: #00ADB5;
    --color-complementary: #eeeeee96;
    --hightlight: #FFFAAA;
    --divider: rgb(164, 164, 164);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    transition: all 0.5s ease-in-out;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a, p {
    font-size: 1.1rem;
}